# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable sudden-death-generator': 'sudden-death-generator:generate'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'sudden-death-generator'
      'submenu': [
        { 'label': 'Generate', 'command': 'sudden-death-generator:generate' }
      ]
    ]
  }
]
